@media only screen and (min-width: 35rem) {
    header{
        background-color: #7FC798;
        padding: 15px;
    }
    .header{
        display: flex;
        align-items: center;
    }
    .logo{
        float: left;
        margin-left: 10px;
        max-width: 100%;
        height: 100px;
    }
    .title{
        color: #0F2B38;
        font-size: 1.1em;
        margin: auto;
    }
    .motto{
        color: #0F2B38;
        font-size: 1em;
        margin: auto;
    }
    .combined{
        display: block;
        margin-top: 10px;;
    }
    nav button{
        background-color: #9AA0A5;
        font-size: 2rem;
        color: #0F2B38;
        margin-top: 10px;
    }
    nav a {
    background-color: #9AA0A5;
    font-family: "Lato", sans-serif;
}
    nav ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    nav ul li a {
        display: flex;
        padding: .8rem 2%;
        text-decoration: none;
        color: #000;
    }
    nav ul li a:hover{
        background-color: #242424;
        color: #F1FDD8;
    }
    nav ul.hide{
        display:none;
    }
    h1{
        font-family: "Oswald", sans-serif;
    }
    h2{
        font-family: "Lato", sans-serif;
    }
    p{
        font-family: "Lato", sans-serif;
    }
    body {
        background-color: #F1FDD8;
        margin: 0;
    }
    .hero{
        max-width: 100%;
    }
    section{
        background-color: #9AA0A5;
        padding: 10px;
        margin: 0;
    }
    .place{
        margin: 0;
    }
    .soda{
        display: flex;
        flex-direction: row;
        margin: 0;
        font-size: .9em;
    }
    .fish{
        display: flex;
        flex-direction: row-reverse;
        margin: 0;
        font-size: .9em;
    }
    .pres{
        display: flex;
        flex-direction: row;
        margin: 0;
        font-size: .9em;
    }
    picture{
        max-width: 50%;
    }
    .article{
        color: #89e7aa;
        background-color: #0D394E;
        padding: 30px;
    }
    .idaho{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .article-paragraph{
     padding: 50px;   
    }
    #source {
        color: #89e7aa;
    }
    footer{
        background-color: #7FC798;
        padding: 20px;
    }
    .contact{
        display: block;
    }
    .list{
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .pin{
        display: none
    }
    .social{
        display: none;
        grid-column: 4/6;
        grid-row: 2;
        gap: 10px;
    }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }
}