header{
    background-color: #7FC798;
    padding: 15px;
}
.header{
    display: flex;
    align-items: center;
}
.logo{
    float: left;
    margin-left: 10px;
    max-width: 100%;
    height: 100px;
}
.title{
    color: #0F2B38;
    font-size: 1.1em;
    margin: auto;
}
.motto{
    color: #0F2B38;
    font-size: 1em;
    margin: auto;
}
.combined{
    display: block;
    margin-top: 10px;
    font-size: 1em;
}
nav button{
    background-color: #9AA0A5;
    font-size: 2rem;
    color: #0F2B38;
    margin-top: 10px;
}
nav a {
background-color: #9AA0A5;
font-family: "Lato", sans-serif;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: flex;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
}
nav ul li a:hover{
    background-color: #242424;
    color: #F1FDD8;
}
nav ul.hide{
    display:none;
}
h1{
    font-family: "Oswald", sans-serif;
}
h2{
    font-family: "Lato", sans-serif;
}
p{
    font-family: "Lato", sans-serif;
}
.alert{
    background-color: #c1e4f7;
    padding: 10px;
}
body {
    background-color: #F1FDD8;
    margin: 0;
}
main{
    padding: 25px;
    margin: auto;
}
.pictures img{
    max-width: 100%;
    height: 250px;
}
.pictures{
    display: block;
    margin: auto;
    padding: 20px;
}
.map{
    max-width: 50%;
    max-height: 50%;
    margin-left: auto;
    margin-right: auto;
}
footer{
    background-color: #7FC798;
    padding: 5px;
}
.pin{
    display: none;
}
.social{
    display:none;
}
.contact{
    padding: 5%;
    justify-content: center;
    text-align: left;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
}
.date{
    padding: 5px;
    text-align: center;
    color: #0F2B38;
}
/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
content: "";
display: table;
clear: both;
}