body{
    margin: auto;
    padding: 15px;
}
.cards{
    background-color: rgb(136, 207, 255);
}
header{
    background-color: rgb(196, 196, 196);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
footer{
    background-color: rgb(196, 196, 196);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}