@media only screen and (min-width: 64rem) {

h1{
    font-family: 'Titillium Web', sans-serif;
    color: #00476d;
}
h2{
    font-family: 'Titillium Web', sans-serif;
    color: #00476d;
}
p {
    font-family: 'Mochiy Pop One', sans-serif;
    color: #300b00;
}
header {
    padding: 15px;
    text-align: center;
    background-color: 	#ff8282;
}
nav li {
    display:inline;
}
nav a {
    color: #300b00;
    font-size: .9em;
    line-height: .1em;
    display:inline-block;
    list-style:none;
}
nav {
    background-color:#02a7ff;
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    list-style: none;
}
nav a.active{
    background-color: #00476d;
    color: #ff3c00;

}
nav a:hover{
    background-color: #00476d;
    color: #ff3c00;
}
nav button{
    display: none;
}
nav ul.hide{
    display:block;
}
body {
    background-color: 	#fff3ee;
    margin: 0;
}
.body{
    padding: 30px;
}
img {
    width: 250px;
    height: 250px;
}
footer{
    background-color: #02a7ff;
    text-align: center;
    padding: 10px;
    color: #a89089;
}
}