html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

h1{
    font-family: 'Titillium Web', sans-serif;
    color: #00476d;
}
h2{
    font-family: 'Titillium Web', sans-serif;
    color: #00476d;
}
p {
    font-family: 'Mochiy Pop One', sans-serif;
    color: #300b00;
}
header {
    text-align: center;
    background-color: 	#ff8282;
    padding: 15px;
}
nav button{
    background-color: #9AA0A5;

    color: #0F2B38;
}
nav li {
    display:inline;
    list-style:none;
}
nav a {
    display: flex;
    text-decoration: none;
    color: #300b00;
    font-family: 'Mochiy Pop One', sans-serif;
}
nav {
    background-color:#02a7ff;
    text-align: center;
}
nav ul li a {
    font-size: .9em;
    line-height: .1em;
    display:inline-block;
    padding: 30px;
}
nav ul.hide{
    display:block;
}
nav ul li a:hover{
    background-color: #00476d;
    color: #ff3c00;
}
body {
    background-color: 	#fff3ee;
    margin: 0;
}
.body{
    padding: 30px;
}
img {
    width: 250px;
    height: 250px;
}
footer{
    background-color: #02a7ff;
    text-align: center;
    padding: 10px;
    color: #a89089;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }