
h1{
    font-family: 'Titillium Web', sans-serif;
    color: #00476d;
}
h2{
    font-family: 'Mochiy Pop One', sans-serif;
    color: #00476d;
}
p {
    font-family: 'Mochiy Pop One', sans-serif;
    color: #300b00;
}
header {
    text-align: center;
    padding: 10px;
    background-color: 	#ff8282;
}
body {
    background-color: 	#fff3ee;
    margin: 0;
}
.body{
    padding: 30px;
}
img {
    width: 250px;
    height: 250px;
}
nav li {
    display:inline;
}
nav {
    list-style:none;
    background-color:#02a7ff;
    text-align:center;
}
nav a{
    text-decoration: none;
    font-size: 1.3em;
    line-height: .5em;
    display:inline-block;
    padding: 30px;
    color: #300b00;
    font-family: 'Titillium Web', sans-serif;
}
a:hover{
background-color: #00476d;
color: #ff3c00;
}
footer{
    background-color: #02a7ff;
    text-align: center;
    padding: 10px;
    color: #a89089;
}