
h1{
    font-family: 'Oswald', sans-serif;
}
h2{
    font-family: 'Lato', sans-serif;
}
p {
    font-family: 'Lato', sans-serif;
}
body {
    background-color: #F1FDD8;
    padding: 30px;
}
.body {
    padding: 50px;
}
header {
    text-align: center;
    margin: auto;
    padding: 10px;
}
footer{
    background-color: #226081;
    text-align: center;
    padding: 10px;
    color: #7FC798;
}
nav > ul{
    list-style-type: none;
    display: flex;
}
nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
    padding: 1em;
    background-color: #226081;
}
nav a{
    text-decoration: none;
    padding: 10px;
    font-size: 1.5em;
    line-height: 1em;
    text-align: center;
    color: #7FC798;
}
a:hover{
background-color: #CDC3E0;
padding: 10px;
}