@media only screen and (min-width: 64rem) {
    .header{
        padding: 30px;
    }
    header{
        background-color:#90F093;
    }
    .logo{
        max-width: 100%;
        height: 10em;
        margin-left: 6%;
        float: left;
    }
    .title{
        color: #2D1DF0;
        font-size: 3em;
    }
    .motto{
        color: #2D1DF0;
        justify-content: center;
        font-size: 2em;
    }
    nav button{
        display: none;
    }
    nav {
    background-image: linear-gradient( to bottom right, rgb(240, 175, 129,94), rgb(255, 214, 184));
    font-family: "Lato", sans-serif;
    }
    nav a {
        display: flex;
        text-decoration: none;
        color: #226081;
        font-family: "Lato", sans-serif;
    }
    nav ul{
        margin-left: 15%;
    }
    nav ul li{
        float: left;
    }
    nav ul li a {
        padding: .8em;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
    }
    nav ul li a:hover{
        background-color: #242424;
        color: #F1FDD8;
    }
    nav ul.hide{
        display:block;
    }
    h1, h2{
        font-family: "Titillium Web", sans-serif;
    }
    p {
        font-family: "Mochiy Pop One", sans-serif;
    }
    body {
        background-color: #F0DA65;
        margin: 0;
    }
    .part-1{
        display: grid;
        grid-template-columns: repeat(5,5em);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 10px;
        margin: 0 auto;
    }
    .hero{
        display: block;
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
        grid-column: 1/6;
        grid-row: 1/6;
    }
    .events{
        color: black;
        font-size: .9em;
        position: absolute;
        margin-left: 15%;
        margin-top: 10%;
        padding: 1%;
        border: 3px solid black;
        width: 25%;
        background-color: rgba(240, 53, 136, 0.75);
        grid-column: 2/5;
        grid-row: 2/5;
        color:#90F093;
    }
    .join{
        color: black;
        font-size: .9em;
        position: absolute;
        margin-top: 3%;
        margin-left: 60%;
        padding: 1%;
        border: 3px solid black;
        width: 20%;
        background-color: rgba(240, 53, 136, 0.75);
        text-align: center;
        grid-column: 3/6;
        grid-row: 3/5;
        color:#90F093;
    }
    .part-2{
        display: grid;
        grid-template-columns: repeat(6, 0.3fr);
        grid-gap: 10px;
        padding: 30px;
    }
    .purpose{
        grid-column: 1/4;
        background-color: #F03588;
        padding: 20px;
        border-radius: 10px;
        color:#90F093;
    }
    .weather{
        background-color: #F03588;
        grid-column: 5/7;
        padding: 20px;
        border-radius: 10px;
        color:#90F093;
    }
    .business{
        display: flex;
        gap: 10px;
        background-color: #F03588;
        color:#90F093;
        padding: 20px;
        border-radius: 10px;
    }
    .image-1{
        height: 150px;
        max-width: 100%;
        float: left;
        padding: 10px;
    }
    .image-2{
        height: 150px;
        max-width: 100%;
        float: left;
        padding: 10px;
    }
    .image-3{
        height: 150px;
        max-width: 100%;
        float: left;
        padding: 10px;
    }
    footer{
        background: #90F093;
        padding: 30px;
        color: #2D1DF0;
    }
    .contact{
        text-align: left;
        display: grid;
        grid-template-columns: repeat(5, 12em);
        grid-template-rows: repeat(3, 5fr);
        grid-gap: 10px;
    }
    .list{
        grid-column: 2/4;
        grid-row: 1/5;
    }
    .social{
        grid-column: 4/6;
        grid-row: 2;
        display: flex;
        grid-gap: 15px;
    }
    .date, .bottom{
        text-align: center;
        color: #2D1DF0;
    }
    .attribution, .byu{
        color: #F03588;
    }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }
    
    }