/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
h1, h2{
    font-family: "Titillium Web", sans-serif;
}
p{
    font-family: "Mochiy Pop One", sans-serif;
}
header{
    padding: 30px;
    background-color:#90F093;
}
.title{
    color: #2D1DF0;
    font-size: 2em;
    font-family: "Titillium Web", sans-serif;
    margin-left: 20%;
}
.motto{
    color: #2D1DF0;
    font-size: 1em;
    font-family: "Mochiy Pop One", sans-serif;
    justify-content: center;
    margin-left: 20%;
}
.logo{
    max-width: 100%;
    height: 150px;
    margin-left: 6%;
    float: left;
}
nav button{
    background-color: #9AA0A5;
    font-size: 2rem;
    color: #0F2B38;
    margin-top: 10px;
}
nav a {
background-color: #9AA0A5;
font-family: "Lato", sans-serif;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: flex;
    padding: .8rem 2%;
    text-decoration: none;
    color: #000;
}
nav ul li a:hover{
    background-color: #242424;
    color: #F1FDD8;
}
nav ul.hide{
    display:none;
}
    body{
        margin: 0;
        background-color: #F0DA65;
    }
    .body{
        padding: 30px;
    }
    img {
        max-width: 100%;
    }
    .part-1{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 10px;
        margin: 0 auto;
    }
    .hero{
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 90%;
        height: 80%;
        grid-column: 1/6;
        grid-row: 1/6;
    }
    .events{
        color: black;
        font-size: .9em;
        position: absolute;
        margin-left: 15%;
        margin-top: 10%;
        padding: 1%;
        border: 3px solid black;
        width: 25%;
        background-color: rgba(240, 53, 136, 0.75);
        grid-column: 2/5;
        grid-row: 2/5;
        color:#90F093;
    }
    .join{
        color: black;
        font-size: .9em;
        position: absolute;
        margin-top: 3%;
        margin-left: 60%;
        padding: 1%;
        border: 3px solid black;
        width: 20%;
        background-color: rgba(240, 53, 136, 0.75);
        text-align: center;
        grid-column: 3/6;
        grid-row: 3/5;
        color:#90F093;
    }
    .part-2{
        display: grid;
        grid-template-columns: repeat(6, 0.3fr);
        grid-gap: 10px;
        padding: 30px;
    }
    .purpose{
        grid-column: 1/4;
        background-color: #F03588;
        padding: 20px;
        border-radius: 10px;
        color:#90F093;
    }
    .weather{
        background-color: #F03588;
        grid-column: 5/7;
        padding: 20px;
        border-radius: 10px;
        color:#90F093;
    }
    .business{
        display: flex;
        gap: 10px;
        background-color: #F03588;
        color:#90F093;
        padding: 20px;
        border-radius: 10px;
    }
    .image-1{
        height: 150px;
        max-width: 100%;
        float: left;
        padding: 10px;
    }
    .image-2{
        height: 150px;
        max-width: 100%;
        float: left;
        padding: 10px;
    }
    .image-3{
        height: 150px;
        max-width: 100%;
        float: left;
        padding: 10px;
    }
    .contact{
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(5, 15em);
        grid-template-rows: repeat(3, 3em);
        grid-gap: 10px;
    }
    .list{
        grid-column: 2/4;
    }
    .social{
        display: flex;
        grid-column: 4/6;
        grid-row: 2;
    }
    .bottom{
        text-align: center;
    }
    .byu,.attribution{
        color: #F03588;
        text-decoration: none;
    }
    footer{
        background: #90F093;
        padding: 30px;
        color: #2D1DF0;
    }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }