@media only screen and (min-width: 64rem) {
    .header{
        padding: 30px;
    }
    .logo{
        max-width: 100%;
        height: 10em;
        align-items: left;
        margin-left: 6%;
    }
    .title{
        color: #0F2B38;
        font-size: 3em;
    }
    .motto{
        color: #0F2B38;
        justify-content: center;
        font-size: 2em;
    }
    nav button{
        display: none;
    }
    nav {
    background-color: #9AA0A5;
    font-family: "Lato", sans-serif;
    }
    nav a {
        display: flex;
        text-decoration: none;
        color: #226081;
        font-family: "Lato", sans-serif;
    }
    nav ul{
        margin-left: 15%;
    }
    nav ul li{
        float: left;
    }
    nav ul li a {
        padding: .8em;
        font-size: 1.5em;
        display: flex;
        justify-content: center;
    }
    nav ul li a:hover{
        background-color: #9AA0A5;
        color: #F1FDD8;
    }
    nav ul.hide{
        display:block;
    }
    h1{
        font-family: "Oswald", sans-serif;
    }
    h2{
        font-family: "Lato", sans-serif;
    }
    p{
        font-family: "Lato", sans-serif;
    }
    body {
        background-color: #F1FDD8;
        margin: 0;
    }
    .preston{
        padding: 5%;
        margin-left: 5%;
    }
    .box-1{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 10px;
        margin: 0 auto;
    }
    .hero{
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 80%;
        grid-column: 1/6;
        grid-row: 1/6;
    }
    .summary{
        float: left;
        padding: 1%;
        border: 3px solid black;
        width: 30%;
        height: 70%;
        background-color: rgba(154, 160, 165, .75);
        grid-column: 2/5;
        grid-row: 2/5;
    }
    .summary-paragraph{
        margin: 0;
        padding: 1px;
    }
    .weather-5-img{
        display: flex;
        padding: 3%;
    }
    img {
        max-width: 100%;
    }
    .article{
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
    .article{
        border: 3px solid black;
        margin-left: auto;
        margin-right: auto;
    }
    .article-img{
        margin-left: 15px;
        float: right;
        width: 40%;
        height: 30%;
    }
    .article-paragraph{
        column-count: 3;
        column-width: 200px;
        padding: 15px;
    }
    footer{
        background-color: #7FC798;
        padding: 5%;
    }
    .contact{
        margin: auto;
        padding: 15px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 2.5em);
        grid-gap: 5px;
    }
    .map{
        grid-column: 1/6;
        grid-row: 1/6;
        margin: 0;
    }
    .info{
        grid-column: -1/-3;
        grid-row: 1/3;
        color: #0F2B38;
    }
    .social{
        grid-column: -1/-3;
        grid-row: 5;
        display: flex;
        grid-gap: 15px;
    }
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
      }
    
    }