@media only screen and (min-width: 64rem) {
.header{
    background-color: #226081;
    padding: 30px;
}
.logo{
    max-width: 100%;
    height: 7em;
}
.title{
    color: #CDC3E0;
}
.motto{
    color: #CDC3E0;
}
nav button{
    display: none;
}
nav {
background: #e500e5; /* Old browsers */
background: -moz-linear-gradient(top,  #e500e5 0%, #cdc3e0 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #e500e5 0%,#cdc3e0 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #e500e5 0%,#cdc3e0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e500e5', endColorstr='#cdc3e0',GradientType=0 ); /* IE6-9 */
}
nav a {
    text-decoration: none;
    color: #226081;
    font-family: "Lato", sans-serif;
}
nav ul{
    margin-left: 2%;
}
nav ul li{
    float: left;
}
nav ul li a {
    padding: .8rem 1rem;
}
nav ul li a:hover{
    background-color: #9AA0A5;
    color: #F1FDD8;
}
nav ul.hide{
    display:block;
}
h1{
    font-family: "Oswald", sans-serif;
}
h2{
    font-family: "Lato", sans-serif;
}
p{
    font-family: "Lato", sans-serif;
}
body {
    background-color: #F1FDD8;
    margin: 0;
}
.preston{
    padding: 5%;
    margin-left: 5%;
}
.hero{
    display: block;
    margin: 0 auto;
    width: 80%;
}
.summary{
    display: block;
    padding: 1%;
    float: left;
    margin-left: 15%;
    margin-right: 0;
    border: 3px solid black;
    width: 30%;
    height: 70%;
}
.summary-paragraph{
    column-count: 2;
    column-width: 100px;
}
.weather-title{
    text-align: left;
    padding: 5%;
    background-color: none;
}
.weather-5-img{
    display:flex;
    max-width: 100%;
    max-height: 100%;
    grid-gap: 15px;
    padding: 15px;
}
.article{
    border: 3px solid black;
    column-count: 2;
    column-width: 200px;
}
.article-img{
    max-width: 100%;
    max-height: 50%;
    float: right;
}
footer{
    background-color: #226081;
    padding: 5%;
}
.contact{
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(5 5rem);
    grid-template-rows: repeat(5 5em);
    grid-gap: 5px;
}
.map{
    grid-column: 1/6;
    grid-row: 1/5;
    max-width: 100%;
}
.info{
    grid-column: 4/6;
    grid-row: 1/3;
}
.social{
    grid-column: 4/6;
    grid-row: 6;
    display: flex;
    grid-gap: 15px;
}
}
/*end medium */
